@charset "utf-8";
// @import url("https://fonts.googleapis.com/css?family=Cairo:400,700|Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cairo:400,700|Raleway:300,400,500,600,700&display=swap");

// Define breakpoint variables
$tablet: 768px;

@import "../../node_modules/bulma/bulma.sass";
